# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/
Scripts/
Lib/
Include/
pyvenv.cfg

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.sln.iml
*.swp
*~

# Visual Studio Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Project-specific runtime files
string_history.json

# Logs
*.log
logs/
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv

# OS-specific
Thumbs.db
.DS_Store
desktop.ini

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
